# Items that don't need to be copied into the Docker image.

# Source Code & Miscellaneous IDE things
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/

# Python and other build stuff
.sass-cache
*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
__pycache__
dist
docs
env
logs
Dockerfile
