.error {
    color:red;
    text-align: left;
}

.form {
    padding-top:100px;
    padding-bottom:100px;
}

#masterhead{
     min-height: 700px;
      padding: 1em 0em;
}
#header{
    padding-top: 150px;
}
